* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.app {
  margin: 0 auto;
  max-width: 120rem;
  background-color: #f1f1f1;
  padding: .5rem 2rem;
  position: relative;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
}

.avatar {
  position: absolute;
  right: 5rem;
  top: 2rem;
  display: block;
  width: 150px;
  /* height: 150px; */
}

.block-container {
  display: flex;
  justify-content: space-between;
}

.block-container__item {
  text-align: left;
  margin: 0 auto 1rem 1rem;
}

.item-left {
  flex-grow: 1;
  min-width: 15rem;
  text-decoration: underline;
}

.item-right {
  flex-grow: 20;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: red;
}

li {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1700px) {
  html {
    font-size: 15px;
  }

  .avatar {
    width: 170px;
    top: 2rem;
    right: 5rem;
  }
}

@media (max-width:768px) {
  .app {
    max-width: 760px;
  }

  .avatar {
    width: 120px;
  }
}


@media (max-width:620px) {
  .avatar {
    display: none;
  }
}

@media (max-width:425px) {
  .app {
    max-width: 420px;
  }

  .block-container {
    flex-direction: column;
  }
}

@media (max-width:375px) {
  .app {
    max-width: 370px;
  }
}

@media (max-width:320px) {
  .app {
    max-width: 310px;
  }
}