* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.app {
  /* text-align: center; */
  margin: 0 auto;
  max-width: 120rem;
  background-color: #eee;
  padding: 2rem;
  margin: 2rem auto;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
}

.block-container {
  display: flex;
  justify-content: space-between;
}

.block-container__item {
  text-align: left;
  margin: 0 auto 1rem 1rem;
}

.item-left {
  flex-grow: 1;
  min-width: 15rem;
}

.item-right {
  flex-grow: 20;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: red;
}

li {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
